EASTMONEY_APIKEY=
EASTMONEY_BASE_URL=https://mkapi2.dfcfs.com/finskillshub/api/claw
EASTMONEY_ENDPOINT_NEWS_SEARCH=/news-search
EASTMONEY_ENDPOINT_QUERY=/query
EASTMONEY_ENDPOINT_STOCK_SCREEN=/stock-screen
